nav {
  width: 100%;
  height: 60px;
  background-color: white;
}

nav p {
  font-family: arial;
  font-size: 24px;
  line-height: 55px;
  float: left;
  padding-left: 25px
}

nav p a {
  text-decoration: none;
}

nav p a:visited {
  color: black;
}

nav ul {
  float: right;
  padding-right: 75px;
}

nav ul li {
  float: left;
  list-style: none;
  position: relative;
}

nav ul li a {
  display: block;
  font-family: arial;
  color: black;
  font-size: 14px;
  padding: 22px 14px;
  text-decoration: none;
}

nav ul li ul {
  display: none;
  position: absolute;
  background-color: white;
  padding: 10px;
  border-radius: 0px 0px 4px 4px;
}

nav ul li:hover ul {
  display: block;
}

nav ul li ul li {
  border-radius: 4px;
}

nav ul li ul li a {
  padding: 8px 14px;
}

nav ul li ul li a:hover {
  background-color: #9E1832;
}